main {
    padding-top: 2rem;
    margin: 2.9rem 0;
    margin-bottom: 7rem;
}

main * {
    padding: 0;
    margin: 0;
}

main h3 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
}

main h3 {
    text-align: center;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

main form * {
    box-sizing: border-box;
    width: clamp(25rem, 70vw, 40rem);
}

main form label {
    color: var(--secondary-color);
    font-size: 0.7rem;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0s;
}
main form div.input-group:has(input:not(:placeholder-shown), textarea:not(:placeholder-shown)) label {
    opacity: 100;
}

main form input {
    height: 3lh;
    padding: 0.5lh 1lh;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1rem;
    border: 2px solid var(--secondary-color);
}

main form input::placeholder, main form textarea#message::placeholder {
    font-size: 1rem;
    font-family: "inter", sans-serif;
    color: var(--primary-light);
    user-select: none;
}

main form textarea#message {
    resize: none;
    field-sizing: content;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1lh 1lh;
    font-size: 1.1rem;
    min-height: 10lh;
    max-height: 20lh;
    background-color: var(--secondary-light);
    border: none;
}
main form textarea#message:focus {
    outline: none;
}

main form input#submit {
    width: clamp(1.25rem, 35vw, 20rem);
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 1rem;
    background-color: var(--secondary-light);
    border-radius: 2rem;
    border-color: var(--secondary-color);
    border-style: solid;
}

main form input#submit:hover, main form input#submit:focus-visible {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: white;
    outline: 3px solid var(--primary-color);
    outline-offset: 2px;
}

main form input#submit:active {
    transform: scale(0.98);
    background-color: var(--primary-light);
}