footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    background-color: var(--secondary-background);
}



footer div#social-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}



footer div#social-links a {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: all 0.2s ease-in-out 0s;
}
footer div#social-links a:hover {
    transform: translateY(-0.3rem) scale(1.1);
}

footer div#social-links a#github img {
    width: 70%;
}
footer div#social-links a#remind img {
    width: 120%;
}



footer small {
    font-weight: 400;
}