@property --border-grad-start {
    syntax: '<color>';
    inherits: true;
    initial-value: black;
}
@property --border-grad-end {
    syntax: '<color>';
    inherits: true;
    initial-value: black;
}

main {
    --border-grad-start: var(--primary-color);
    --border-grad-end: transparent;
    padding-top: 2rem;
    margin: 2.9rem 0;
    margin-bottom: 7rem;
}

main * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--primary-color);
}

main h3 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
}

main section#resource-list{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

main section#resource-list div.resource-category {
    
}

main section#resource-list div.resource-category h4.category-title {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding-left: 0.3rem;
}
main section#resource-list div.resource-category h4.category-title:after {
    position: absolute;
    content: "";
    width: 100vw;
    background: linear-gradient(
        to right,
        var(--primary-color),
        transparent 80%
    );
    height: 0.2rem;
    bottom: -0.8rem;
    left: -0.3rem;
}
main section#resource-list div.resource-category h4.category-title div.category-length {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: var(--background-color);
    background-color: var(--secondary-color);
    border-radius: 10rem;
    width: 2rem;
    margin-left: 0.5rem;
}

main section#resource-list div.resource-category div.category-contents {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 5vw;
    margin-right: 10vw;
}

main section#resource-list div.resource-category div.category-contents a.resource-box {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
        "icon title"
        "icon description";
    column-gap: 0.9rem;
    align-items: center;
    height: 5.3rem;
    padding: 0.5rem;
    border: 0.1rem solid transparent; /*var(--primary-color);*/
    /*border-image: linear-gradient(
        to right,
        var(--primary-color) 0%,
        transparent 90%
    ) 1;*/
    background: 
        linear-gradient(var(--background-color), var(--background-color)) padding-box, 
        linear-gradient(to right, var(--border-grad-start), var(--border-grad-end)) border-box;
    border-radius: 0.7rem;
    /*box-shadow: 0 0 3px -1.7px var(--primary-hover);*/
    overflow: hidden;
    transition: all 0.2s ease 0s;
}

main section#resource-list div.resource-category div.category-contents a.resource-box:hover {
    animation: box-hover 0.4s linear 0s;
    --border-grad-start: var(--secondary-color);
    --border-grad-end: var(--secondary-color);
    box-shadow: 0 0 12px -6px var(--primary-hover);
}

@keyframes box-hover {
    0% {
        --border-grad-start: var(--primary-color);
        --border-grad-end: transparent;
        box-shadow: none;
        animation-timing-function: ease-out;
    }
    90% {
        --border-grad-start: var(--secondary-color);
        --border-grad-end: var(--primary-color);
        box-shadow: 0 0 3px -1.7px var(--primary-hover);
        animation-timing-function: ease-in;
    }
    100% {
        --border-grad-start: var(--secondary-color);
        --border-grad-end: var(--secondary-color);
        box-shadow: 0 0 12px -6px var(--primary-hover);
    }
}

main section#resource-list div.resource-category div.category-contents a.resource-box div.resource-icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    font-size: 2.4rem;
    line-height: 1;
    border-radius: 0.7rem;
    background-color: var(--secondary-color);
}
main section#resource-list div.resource-category div.category-contents a.resource-box h5.resource-title {
    grid-area: title;
    font-size: 1.4rem;
}
main section#resource-list div.resource-category div.category-contents a.resource-box p.resource-description {
    align-self: start;
    grid-area: description;
    font-size: 1.1rem;
}

@media(width <= 800px) {
    main section#resource-list div.resource-category div.category-contents a.resource-box {
        column-gap: 0.6rem;
        height: 4rem;
        padding: 0.4rem;
        border-radius: 0.5rem;
    }
    main section#resource-list div.resource-category div.category-contents a.resource-box div.resource-icon {
        font-size: 2rem;
        border-radius: 0.5rem;
    }
    main section#resource-list div.resource-category div.category-contents a.resource-box h5.resource-title {
        font-size: 1.25rem;
    }
    main section#resource-list div.resource-category div.category-contents a.resource-box p.resource-description {
        font-size: 0.9rem;
    }
}