@import "variables.css";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    /*scroll-behavior: smooth;*/
    background-color: var(--background-color);
    color: var(--primary-color);
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "inter", sans-serif;
    margin: 0;
    min-height: 100vh;
    transition: background 0.3s ease, color 0.3s ease;
}
main {
    display: block;
    min-height: 500px;
    background-color: var(--background-color);
}
/* Page Animation */
@view-transition {
  navigation: auto;
}
@keyframes fadeout{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}
@keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
::view-transition-old(root){
    animation: 0.5s ease both fadeout;
}
::view-transition-new(root){
    animation: 0.5s ease both fadein;
}
header nav {
    view-transition-name: navbar;
}
::view-transition-old(navbar){
    animation: none !important;
}
::view-transition-new(navbar){
    animation: none !important;
}
