@import "variables.css";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap";

html {
    /*scroll-behavior: smooth;*/ 
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "inter", sans-serif;
    margin: 0;
    min-height: 100vh;
    transition: background 0.3s ease, color 0.3s ease;
}
main {
    display: block;
    min-height: 500px;
    background-color: var(--background-color);
}