:root {
    color-scheme: light;

    --on-secondary-color: #ffffff;

    --primary-color: #0B0F14;
    --primary-hover: #1A202C;
    --primary-light: #2f456f;
    
    --secondary-color: #3778e0;
    --secondary-dark: #2e61b3;
    --secondary-light: #c6deff;
    --secondary-hover: #4a81c5;
    --secondary-shadow: rgba(79, 138, 211, 0.1);
    --secondary-background: rgba(80, 141, 216, 0.2);
    --secondary-dark-shadow: rgba(81, 136, 203, 0.5);
    
    --background-color: #ffffff;
    --background-hover: #cbcbcb;
}

html[data-theme="dark"] {
    color-scheme: dark;

    --primary-color: #E6F0FF;
    --primary-hover: #93C5FD;
    --primary-light: #7e97c0;
    
    --secondary-color: #3B82F6;
    --secondary-dark: #2563eb;
    --secondary-light: #1B2735;
    --secondary-hover: #60a5fa;
    --secondary-shadow: rgba(59, 130, 246, 0.16);
    --secondary-background: rgba(59, 130, 246, 0.14);
    --secondary-dark-shadow: rgba(147, 197, 253, 0.3);
    
    --background-color: #0B0F14;
    --background-hover: #16202E;
}
